body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table{
    display: initial;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}
button{  
    border-radius: 10%;
    background-color: blueviolet;
    justify-content: center;
    display: flex;
}
.year{
    justify-content: end;
    display: grid;
}
.today{
    color: white;
    border-radius: 10px;
    background-color: gray;
}
.table-month{
    display: flex;
    justify-content: space-around;
    border:solid 1px black;
    border-radius: 10px;
}
.days{
    display: flex;
    justify-content: space-around;
}
.month{
    border: solid 1px black;
}

.week{
    border: solid 1px black;
    height: 10em;
    font-size: 2em;
}
.escolhido{
    display: initial;
    color:red;
}

.week-days{
    display: flex;
    justify-content: space-around;
    min-height: 5em;
    border: solid 1px black;

}
.time{
    display: flex;
}


.esquerda{
    background-color: blueviolet;
    width:30%;
    height: 100%;
    position: absolute;
    left: 0;
    scale: 90%; 
    color: white;
    font-size: 2em;
    justify-content: center;
    display: grid;
    align-content: center;
}
.direita{
    background-color: white;
    width:70%;
    height: 100%;
    position: absolute;
    right: 0;
    scale: 90%;
    border-radius:20px;
}